@page {
    margin: 2em;
}

body {
  font-family: "Helvetica", "Sans Serif";
  font-size:1.25em;
}

h1 {
  color:#4d4d4d;
}

h2 {
  color:#333333;
  font-style: italic;
}


h3 {
  color:#333333;
}

h4 {
  color:#333333;
}

h5 {
  color:#333333;
}

p {
  color: #1a1a1a;
  line-height:200%;
}

.figure {
   margin: auto;
   vertical-align: middle;
}

.pagebreak
{
	page-break-after: always;
}

div.container {
   min-height: 10em;
   display: table-cell;
   vertical-align: middle;
}
